.label {
  color: var(--color-light-100);

  &.disabled {
    color: var(--color-dark-300);
  }
}

.selectTrigger {
  cursor: pointer;

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  width: 210px;
  height: 36px;
  padding: 0 12px;

  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &[data-state='open'] {
    border: 1px solid var(--color-dark-100);
    border-radius: 2px 2px 0 0;
  }

  &:focus-visible {
    border: 1px solid transparent;
    outline: 2px solid var(--color-info-700);
  }

  &:hover:not([data-disabled]) {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-100);
  }

  &[data-disabled] {
    cursor: default;
    color: var(--color-dark-300);
    border: 1px solid var(--color-dark-300);
  }

  &.pagination {
    width: 50px;
    height: 24px;
    padding: 0 6px;

    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
  }

  &.fullWidth {
    width: 100%;
  }
}

.icon {
  display: flex;
  align-items: center;
}

.selectContent {
  width: var(--radix-select-trigger-width);
  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-100);
  border-radius: 0 0 2px 2px;
}

.selectItem {
  cursor: pointer;

  display: flex;
  align-items: center;

  height: 36px;
  padding: 0 0 0 6px;

  &[data-highlighted] {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }

  &.pagination {
    height: 24px;
  }
}
