.button {
  all: unset;

  cursor: pointer;

  display: flex;
  justify-content: center;

  padding: 6px 28px;

  border-radius: 4px;
}

.primary {
  background-color: red;
}

.secondary {
  background-color: green;
}

.tertiary {
  background-color: blue;
}

.link {
  display: inline-block;
  background-color: yellow;
}

.fullWidth {
  width: 100%;
}
