.Header {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;

  //padding: 0 136px;

  background-color: var(--color-dark-700);
}

.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1010px;
}

.Logo {
  cursor: pointer;
}

.HeaderUserInfo {
  display: flex;
  gap: 14px;
  align-items: center;
}

.HeaderUserName {
  color: var(--color-light-100);
  text-decoration-style: dashed;
}
