.CreateNewPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  padding: 33px 36px 25px;
}

.CreateNewPasswordField {
  margin-top: 51px;
}

.CreateNewPasswordTips {
  align-self: start;
  margin-top: 19px;
  color: var(--color-light-900);
}

.CreateNewPasswordBtn {
  margin-top: 41px;
}
