.SignInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 420px;
  padding: 33px 36px 25px 27px;
}

.RememberCheckbox {
  align-self: start;
  margin-top: 12px;
}

.ForgotPassword {
  align-self: end;
}

.SignInBtn {
  margin-top: 60px;
}

.AccountQuestion {
  margin-top: 20px;
}

.SignUpLink {
  margin-top: 7px;
}
