.SignInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 420px;
  padding: 33px 36px 25px 36px;
}

.EmailField {
  margin-top: 27px;
}

.RememberCheckbox {
  align-self: start;
  margin-top: 12px;
}

.ForgotPassword {
  cursor: pointer;
  align-self: end;
  color: var(--color-light-100);
  text-decoration: none;
}

.SignInBtn {
  margin-top: 60px;
}

.AccountQuestion {
  margin-top: 20px;
  color: var(--color-light-900);
}

.SignUpLink {
  margin-top: 7px;
  font-weight: var(--font-weight-bold);
}
